<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Instructor</title>
</head>
<body>
<div id="app">
    グループ学習タイトル登録<br>
    <input v-model="lessontitle" type="text">
    <button type="button" @click="submitTitle">登録</button>
    <br>
    <div v-text="lessontitle_cb"></div>
    <p></p>
    <button type="button" @click="getTitle">登録済レッスン確認</button>
<!--        <div v-for="lesson in lessons">{{lesson}}</div>-->
    <div>ID : レッスン名</div>
<!--    <div v-for="(title, id) in lessons">
        {{id}}:{{title}}
    </div>-->
    <div v-for='item in lessons'>
        {{item.id}}:{{item.lessontitle}}
    </div>

    <!-- 確認用 -->
    <hr>
    <label>keywordの中身</label>
    <div v-text="lessontitle"></div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            lessontitle: "",
            lessontitle_cb: "",
            lessons_cb:[],
            label: "",
            academicyear: 0,
            lessons: [],
        },
        methods: {
            submitTitle() {
                var date = new Date();
                date.setMonth(date.getMonth() - 3);
                this.academicyear = date.getFullYear();
                //console.log(this.academicyear);
                const params = {
                    lessontitle: this.lessontitle,
                    label: 'u3003',
                    academicyear: this.academicyear
                };
                axios.post('http://localhost:8000/api/postlesson', params)
                    // .then(response => this.title_cb = response.data['title'])
                    .then(response => {
                        this.lessontitle_cb = "正常に登録されました。";
                        console.log('status:', response.status);
                    })
                    .catch(error => console.log(error))
            },

            getTitle() {
                var date = new Date();
                date.setMonth(date.getMonth() - 3);
                this.academicyear = date.getFullYear();

                const params_get = {
                    label:'u3003',
                    academicyear:this.academicyear,
                    status:'active'
                };
                axios.get('http://localhost:8000/api/getlesson', {params: params_get})
                // axios.get('http://localhost:8000/api/getlesson')
                    .then(response => this.lessons = response.data)
                    .catch(error => console.log(error))
            }


        }
    });

</script>
</body>
</html>
